.banner-section {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #2d2d2d;
  margin: 8rem 0;
  padding: 6rem 0;
  text-align: center;
}

.banner-content {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.banner-content__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner-content__text h2 {
  font-size: 5.2rem; /* Assuming $h1-size is 5.2rem */
  line-height: 1.3;
}

@media (max-width: 550px) {
  .banner-content__text h2 {
    font-size: 4.2rem; /* Assuming $h2-size is 4.2rem */
  }
}

.banner-content__text p {
  font-size: 2.4rem; /* Assuming $h3-size is 2.4rem */
}

@media (max-width: 550px) {
  .banner-content__text p {
    font-size: 2rem;
  }
}

.banner-content__text span {
  color: #ff4d30; /* Assuming $text-orange is #ff4d30 */
  font-weight: 500;
}
