.download-section {
  background-image: url("/src/images/banners/bg02.png");
  background-color: #f8f8f8;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 10rem 0;
}

@media (max-width: 700px) {
  .download-section {
    background-image: none;
  }
}

.download-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 55rem;
  text-align: left;
  margin: 0 auto;

  h2 {
    font-size: 4.2rem;
    color: #010103;
  }

  p {
    font-size: 1.6rem;
    color: #706f7b;
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
  }

  .download-text__btns {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    img {
      width: 40%;
      cursor: pointer;

      @media (max-width: 550px) {
        width: 22rem;
      }
    }
  }
}
